style.css
   
.col-sm-4 {
 display: inline-block;
 align-items: center;
 di
}

.footer {
    	position: relative;
        display: flex;
        bottom: 0;
        width: 100%;
    	display: flex;
    	left: 0;
    	justify-content: center;
    	height: auto;
    	align-items: center;
    	margin-bottom: 0px;
    	flex-wrap: nowrap;
    	justify-content: space-around;
        color: white;
       
    
    }

ul {
  list-style-type: none;
}



